@import 'bootstrap';
@import 'products';

body {
  font-size: 16px;
  text-align: center;
}

.flash-msg {
  position: fixed;
  width: 100%;
  top: 0;
}

.session-page {
  margin: 0 25%;
  text-align: left;
}

.navbar,
.page-title {
  margin-bottom: 1.5rem;
}

.page-title {
  text-align: center;
}

.system-title-icon {
  text-align: left;
  width: calc(100% - 5rem);
  a:hover {
    color: #b3b3b3 !important;
  }
}

.error_explanation {
  ul {
    display: inline-block;
    color: red;
  }
}

.user-selection {
  position: static;
  right: auto;
  text-align: left;
  width: 100%;
}

@media (min-width: 768px) {
  #drop-down-list {
    display: initial !important;
    ul {
      float: right;
    }
  }
}
