@import 'bootstrap';
@import 'products';
@import 'users';

body {
  font-size: 16px;
  text-align: center;
}

.flash-msg {
  position: fixed;
  width: 100%;
  top: 0;
}

.session-action {
  border: 1px solid;
  border-radius: 5px;
  margin: 0 5px;
}

.product-form,
.session-form {
  margin: 0 25%;
  text-align: left;
}

.premium-user-icon {
  margin-right: 3px;
  margin-top: 7px;
  padding: 4px 10px;
  display: inline-block;
  border-radius: 5px;
  background-color: #ffd700;
}

.navbar,
.page-title {
  margin-bottom: 1.5rem;
}

.page-title {
  text-align: center;
}

.system-title-icon {
  text-align: left;
  width: calc(100% - 5rem);
  a:hover {
    color: #b3b3b3 !important;
  }
}

.error_explanation {
  ul {
    display: inline-block;
    color: red;
  }
}

.user-selection {
  position: static;
  right: auto;
  text-align: left;
  width: 100%;
}

@media (min-width: 768px) {
  #drop-down-list {
    display: initial !important;
    ul {
      float: right;
    }
  }
}

@media (max-width: 767px) {
  .session-action {
    border: 0;
  }
}

.pull-right {
  float: right;
}

.pagination a,
.pagination span.current,
.pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #ddd;
  border-left-width: 0;
}

.pagination a:hover{
  background-color: #007bff;
  color: #ffffff;
  transition: color 0.15s ease-in-out, 
    background-color 0.15s ease-in-out, 
    border-color 0.15s ease-in-out, 
    box-shadow 0.15s ease-in-out;
}

.pagination {
  border-left: 1px solid #ddd;
  .first {
    padding: 0;
    float: none;
    border: none;
  }
  .prev {
    padding: 0;
    float: none;
    border: none;
  }
  .page {
    padding: 0;
    float: none;
    border: none;
  }
  .next {
    padding: 0;
    float: none;
    border: none;
  }
  .last {
    padding: 0;
    float: none;
    border: none;
  }
}
